# ------------------------
# ✅ 공통 무시 파일
# ------------------------

.DS_Store
*.log
logs/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# ------------------------
# ✅ Node/Frontend 관련
# ------------------------

/frontend/node_modules/
dist/
dist-ssr/
*.local


# ------------------------
# ✅ VSCode & Editor
# ------------------------

.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.iws
*.ipr
out/

# ------------------------
# ✅ Python / Flask 관련
# ------------------------

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# 가상환경
venv/
env/
ENV/
.venv/
.pipenv/
Pipfile.lock

# Python 환경설정
*.env
*.venv
*.egg-info/
.eggs/

# Flask 개발 서버 관련 파일
instance/
.webassets-cache

# 테스트/커버리지
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# .env (보안)
/frontend/.env
/backend/.env
# database 관련
/mysql
mysql_data/

mlops/training/models/
*.pt
